{% extends 'site/layout.html.twig' %}

{% block main %}
    <section class="section-login">
        <div>
            {{ form_start(form) }}
                <h3 class="mb-4">Créer un compte</h3>
                {{ form(form) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}