{% extends 'site/layout.html.twig' %}

{% block main %}
    <section class="section-login">
        <div class="callout callout-success d-flex align-items-center">
            <i class="fas fa-key fa-2x text-success mr-3"></i>
            <strong>Votre nouveau mot de passe a bien été enregistré. Pour vous connecter <a href="{{ path('app_login') }}">cliquez ici</a>.</strong>
        </div>
    </section>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% include 'security/recaptcha.html.twig' %}
{% endblock %}