{% for dishCategory in dishesCategories %}
    {% if dishesByCategory[dishCategory.id] is not empty %}
        <h5>{{ dishCategory.label }}</h5>
        {% for dish in dishesByCategory[dishCategory.id] %}
            <p>
                <i class="fas fa-check mr-2 text-primary"></i></i>{{ dish.label }}
            </p>
            <hr>
        {% endfor %}
    {% endif %}
{% endfor %}