{% extends 'site/layout.html.twig' %}

{% block main %}
    <div class="container-fluid d-flex justify-content-center" style="padding-top: 80px">
        <div class="alert alert-danger p-4 d-inline-flex align-items-center">
            <i class="fas fa-exclamation-circle fa-2x mr-2"></i>
            Vous n'êtes affilié à aucun établissement vous ne pouvez donc pas faire de réservation pour le moment.
        </div>
    </div>
{% endblock %}