{% extends 'base.html.twig' %}

{% block body %}
    <header class="main-header">
        {% include 'default/navbar.html.twig' %}
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
{% endblock %}