{{ form_start(form) }}
    <h5>Êtes-vous sûr(e) de vouloir supprimer le plat "{{ form.vars.data.label }}" ?</h5>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-danger mr-2">Supprimer</button>
    </div>
{{ form_end(form) }}

<script>
    $('form[name="dish_remove"]').submit(function(e){
        e.preventDefault();
        let url = '{{ path('admin_dish_remove', {'id': form.vars.data.id}) }}';
        let data = $(this).serialize();
        console.log(url);
        $.post(
            url,
            data
        ).done(function(data){
            $('#modal_app').modal('hide');
            document.location.reload();
        });
    });
</script>