{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        {% include 'admin/navbar.html.twig' %}
        {% include 'admin/sidebar.html.twig' %}
        <div class="content-wrapper">
            {% block main %}{% endblock %}
        </div>
    </div>
{% endblock %}