{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        {% block navbar %}
            {% include 'admin/navbar.html.twig' %}
        {% endblock %}
        {% block sidebar %}
            {% include 'admin/sidebar.html.twig' %}
        {% endblock %}
        <div class="content-wrapper">
            {% block main %}{% endblock %}
        </div>
        <footer class="main-footer">
            <strong>Copyright © 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.0.0
            </div>
        </footer>
    </div>
{% endblock %}