
$primary: #4bcc8c;

/*@import "~bootstrap/scss/bootstrap";*/
/*@import "~font-awesome/scss/font-awesome";*/
@import "~admin-lte/build/scss/AdminLTE";
@import "~@fortawesome/fontawesome-free/css/all.min.css";


html, body {
  height: 100% !important;
  width: 100% !important;
}

.content-wrapper {
  padding-bottom: 10px;
}

.toolbar {
  background: rgba(255, 255, 255, 0.92);
  padding: 10px 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(222, 226, 230);
  box-shadow: 1px 1px 2px #dee2e6;
}

@media (max-width: 576px) {
  .flash {
    width: 250px;
  }
}

@media (min-width: 576px) {
  .flash {
    width: 500px;
  }
}

/*
  Errors
 */

.container-errors {
  background: $white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-errors h1 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 5rem;
}

.container-errors h2 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 3rem;
}


/*
  Notifications
 */

table tr.notification {

}

table tr.notification:hover {

}

table tr.notification-checked {
  font-weight: normal;
}

/*
  Buttons
 */

.btn-primary {
  color: $white !important;
}

.dropdown-actions .dropdown-toggle {
  color: $dark !important;
}

.dropdown-actions .dropdown-toggle:after {
  content: none;
}

.dropdown-actions .dropdown-item:hover {
  background: $primary;
  color: $white;
}

/*
  Loader
 */

.container-loader
{
  position: absolute;
  right: 0;
  height: 100%;
  text-align: right;
}

.loader {
  z-index: 2000;
  background: #eee;
  box-shadow: 1px 1px 8px #bbb;
  padding: 2px;
  position: sticky;
  top: 0;
  right: 0;
  display: none;
}

/*
  Navbar Top
 */

.navbar-top {
  opacity: 0.9;
}

.navbar-top .nav-link,
.navbar-top .dropdown-item {
  color: $white !important;
  transition: background 1s, color 1s, transform 1s;
}

.navbar-top .nav-link:hover,
.navbar-top .dropdown-item:hover {
  color: $white !important;
  background: $primary !important;
}

.user-dropdown {
  font-weight: 500;
}

.navbar-top .dropdown:hover {
  background: inherit !important;
}

.navbar-top .dropdown-menu {
  background: $dark;
}

.navbar-top .dropdown-menu .dropdown-divider{
  border-color: #555;
}


/*
  Admin Sidebar
 */

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
  color: $white;
}

/*
  Section
 */

.section {
  min-height: 580px;
  padding: 120px 0 60px;
}

.section h1 {
  font-weight: 700;
}

@media (min-width: 576px) {
  .section h1 {
    font-size: 2.7rem;
    font-weight: 700;
  }
}

@media (min-width: 992px) {
  .section h1 {
    font-size: 3.25rem;
  }
}

.section h2 {
  margin-bottom: 80px;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}

/*
  Section Login
 */

.section-login {
  width: 100%;
  height: 100vh;
  background: url("../images/bg_login.jpg") no-repeat top center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-login > div {
  background: white;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .section-login > div {
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius:0;
  }
}

@media (min-width: 576px) {
  .section-login > div {
    padding: 60px;
    border-radius: 10px;
  }
}

.section-login form {
  width: 100%;
  min-width: 250px;
}

/*
  Section Top
 */

.section-top {
  position: relative;
  height: 100vh;
  min-height: 580px;
  background: url("../images/bg_homepage_top.jpg") no-repeat center center;
  background-size: cover;
  text-shadow: 1px 1px 2px black;
  color: white;
}

.section-top .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-top .down-arrow {
  position: absolute;
  bottom: 32px;
  left: 50%;
}


/*
  Section Features
 */


.section-features .feature {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: solid 1px #eee;
  border-radius: 10px;
  box-shadow: 1px 1px 8px #bbb;
  height: 200px;
  width: 100%;
}

.section-features .row {
  justify-content: center;
}

.section-features .feature h3 {
  position: absolute;
  bottom: 5px;
  right: 30px;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: 700;
}

.section-features .feature-reservation {
  background: url("../images/reservation.jpg") no-repeat center center;
  background-size: cover;
}


/*
  Section partners
 */

.section-partners .row {
  justify-content: center;
}

.section-partners .partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 10px;
  border: solid 1px #eee;
  border-radius: 50%;
  box-shadow: 1px 1px 8px #bbb;
  height: 300px;
  width: 300px;
  margin: auto;
}

.section-partners .partner .logo {
  max-width: 250px;
  height: auto;
}

.section-partners .partner span {
  font-size: 1.1rem;
  text-shadow: 1px 1px 2px black;
  font-weight: 500;
  text-align: center;
}


/*
  Section Contact
 */

.section-contact {
  background-color: #172735;
  color: white;
}

.section-contact h2 {
  text-shadow: 1px 1px 2px black;
  text-align: left;
  margin-bottom: 50px;
}

.section-contact p {
  font-size: 1.25rem;
}

.section-contact .contact {
  margin-top: 30px;
}


/*
  Paginator
 */

.pagination {
  justify-content: center;
}

/*
  Card
 */

.card-menu .separator {
  font-weight: 700 !important;
  font-size: 1.6rem;
  text-shadow: 1px 1px 2px;
}

.custom-switch .custom-control-label:before,
.custom-switch .custom-control-label:after {
  cursor: pointer;
}

