{{ form_start(form, {'attr': {'class': 'modal-action-form', 'data-action-url': path('admin_establishment_ajax_create') }}) }}
{{ form_row(form.label) }}
<button type="submit" class="btn btn-block btn-primary" id="create_button">Enregistrer</button>
{{ form_end(form) }}
