<div class="callout callout-danger d-flex align-items-center">
    <i class="fas fa-wrench fa-2x text-danger mr-2"></i>
    <h6>
        Nous sommes désolé, cette fonctionnalité est en cours de développement.
    </h6>
</div>