<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="2CA Restauration Website">
        <meta name="keywords" content="2CA Restauration,restauration collective,restaurant d'entreprise">
        <meta name="author" content="Frédéric Casazza">
        <title>{% block title %}2CA Restauration{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{asset('build/images/favicon.ico')}}" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="sidebar-mini">
        <div class="ajax_loader">
            <i class="fas fa-circle-notch text-primary fa-2x fa-spin"></i>
        </div>
        {% block body %}{% endblock %}
        {% include'modal.html.twig' %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script>
                $(document).ready(function () {

                    $(document).ajaxStart(function () {
                        $('.ajax_loader').show();
                    });

                    $(document).ajaxStop(function () {
                        $('.ajax_loader').hide();
                    });

                    $(document).ajaxError(function(error) {
                        $(document).Toasts('create', {
                            class: 'bg-danger flash',
                            body: 'Une erreur est survenue'
                        });
                    });

                    $('#modal_app').on('hidden.bs.modal', function () {
                        $('#modal_app_title').empty();
                        $('#modal_app_body').empty();
                    });
                });
            </script>
            {% include 'flash.html.twig' %}
        {% endblock %}
    </body>
</html>
