{{ form_start(form, {'attr': {'class': 'modal-action-form', 'data-action-url': path('admin_dish_category_dish_ajax_add', {'id': form.vars.data.id}) }}) }}
    {{ form_row(form.dish) }}
    <button type="submit" class="btn btn-primary" id="create_button">Ajouter</button>
{{ form_end(form) }}