{{ form_start(form, {'attr': {'class': 'modal-action-form', 'data-action-url': actionUrl }}) }}
    <h5>Êtes-vous sûr(e) de vouloir supprimer le plat ?</h5>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-danger mr-2">Supprimer</button>
    </div>
{{ form_end(form) }}