{{ form_start(form, {'attr': {'class': 'modal-action-form', 'data-action-url': path('admin_meal_dish_ajax_add', {'id': form.vars.data.meal.id}) }}) }}
    {{ form_row(form.category) }}
    {{ form_row(form.label) }}
<button type="submit" class="btn btn-primary" id="create_button">Ajouter</button>
{{ form_end(form) }}