{% extends 'site/layout.html.twig' %}

{% block main %}
    <div class="container-errors">
        <h1 class="text-danger">
            <i class="fas fa-map-signs"></i>
            404
        </h1>
        <h2>
            Page inexistante
        </h2>
        <h3>
            La page que vous souhaitez consulter n'existe pas.
        </h3>
        <p>
            <a href="{{ path('homepage') }}" class="btn btn-lg btn-danger mt-4">Retourner à la page d'accueil</a>
        </p>
    </div>
{% endblock %}