{% extends 'site/layout.html.twig' %}

{% block main %}
    <div class="container-errors">
        <h1 class="text-danger">
            <i class="fas fa-bug"></i>
            ERREUR
        </h1>
        <h2>
            Une erreur est survenue
        </h2>
        <h3>
            Si vous rencontrez un problème veuillez contacter un administrateur.
        </h3>
        <p>
            <a href="{{ path('homepage') }}" class="btn btn-lg btn-danger mt-4">Retourner à la page d'accueil</a>
        </p>
    </div>
{% endblock %}