{% set fullUrl = url('app_reinit_password', {'token': user.reinitToken}) %}
<p>
    Bonjour {{ user.firstname }},
</p>
<p>
    Pour réinitialiser votre mot de passe veuillez cliquer sur le lien suivant: <a href="{{ fullUrl }}">{{ fullUrl }}</a>.
</p>
<p>
    Ce lien sera valide jusqu'au <strong>{{ user.reinitExpirationDate|localdatetime }}</strong>.
</p>
<p>
    Cordialement,<br>
    2CA restauration
</p>